@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    width: 400px;
    height: 400px;
    border-radius: 7px;
    overflow: hidden;
    background-color: #272c34;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display:flex;
    align-items: center;
    justify-content: center;
  }

.circle {
  background-color: #7ddffc;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;  

  position: relative;
  display: block;
  animation: fade 5000ms infinite;
}

@keyframes fade {
  from {
    opacity: 0
  }
  30% {
    opacity: 1
  }
  70% {
    opacity: 1
  }
  80% {
    opacity: 0
  }
  to {
    opacity: 0
  }
}

.sun {
  background-color: #ffef00;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  position: absolute;
  /* 'M-25,100 C75,30 L200,80' */
  offset-path: path('M-25,90 Q 100,1 200,100');
  animation: move 5000ms infinite;
}

@keyframes move {
  /* 25% {
    offset-distance: 30%;
  } */
  to {
    offset-distance: 100%;
  }
}

.sand {
  background-color: #f0de75;
  width: 100%;
  height: 75px;
  
  position: absolute;
  top: 123px;
}

.pyramid1 {
  width: 0;
  height: 0;
  border-left: 53px solid transparent;
	border-right: 23px solid transparent;
	border-bottom: 55px solid #f1f1f1;
  
  position: absolute;
  left: 34px;
  bottom: 57px;
  z-index: 1;

  animation: shaded 5s infinite;
}

@keyframes shaded {
  to { border-bottom: 55px solid #dfdcdc }
}

.pyramid2 {
  width: 0;
  height: 0;
  border-left: 53px solid transparent;
	border-right: 63px solid transparent;
	border-bottom: 55px solid #dfdcdc;
  
  position: absolute;
  left: 34px;
  bottom: 57px;
  animation: unshaded 5s infinite;
}

@keyframes unshaded {
  to { border-bottom: 55px solid #f1f1f1 }
}

.shadow {
  width: 0;
  height: 0;
  border-left: 180px solid transparent;
	border-right: 0px solid transparent;
	border-top: 16px solid #c0b25e;

  position: absolute;
  left: 34px;
  top: 123px;
  animation: shadowShift 5s infinite;
}

@keyframes shadowShift {
  /* 40% { 
    border-left: 58px solid transparent;
	  border-right: 58px solid transparent;
	  border-top: 32px solid #c0b25e;
    left: 34px;
  }
   */
  
  to { 
    border-left: 0px solid transparent;
	  border-right: 140px solid transparent;
	  border-top: 16px solid #c0b25e;
    left: 0px;
  }
}